#
# srv.cnf
#
[ req ]
prompt                  = no
distinguished_name      = server_distinguished_name
req_extensions          = v3_req

[ server_distinguished_name ]
commonName              = localhost
countryName             = FR
emailAddress            = root@localhost
organizationName        = toolbox/tbx test
organizationalUnitName  = ssl test 

[ v3_req ]
basicConstraints        = CA:FALSE
keyUsage                = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName          = @alt_names

[ alt_names ]
email                   = root@localhost
DNS.0                   = 8.8.8.8 
DNS.1                   = 8.8.4.4
